<div class="m-control m-movement-container" title="{{title}}">
  <div class="m-movement-compass">
    <button id="m-movement-help" class="m-movement-help-button" title="{{title_help}}">?</button>
    <svg class="m-movement-background-exterior" width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <mask id="m-movement-hole">
          <rect width="64" height="64" fill="white"/>
          <circle cx="32" cy="32" r="20" fill="black"/>
        </mask>
      </defs>
      <circle cx="32" cy="32" r="30"  mask="url(#m-movement-hole)"/>
    </svg>
    <div class="m-movement-rotation-maker">
      <svg class="m-movement-svgPath-svg" width="64" height="64" viewBox="0 0 64 64">
        <defs>
          <mask id="m-movement-donut-mask">
            <rect width="64" height="64" fill="white"/>
            <circle cx="32" cy="32" r="20" fill="black"/>
          </mask>
        </defs>
        <path
          d="M32,32 L32,2 A30,30 0 0,1 58,16 L32,32 Z"
          mask="url(#m-movement-donut-mask)"
        />
      </svg>
    </div>
    <div class="m-movement-exterior-svg g-cartografia-exterior" draggable="false"></div>
    <div id="m-movement-giroscopio" class="m-movement-giroscopio-svg g-cartografia-giroscopio" draggable="false"></div>
  </div>
  <div class="m-movement-help-container">
    <div class="m-movement-help-header">
      <h3>{{title_help_container}}</h3>
      <button class="m-movement-help-close g-cartografia-cancelar"></button>
    </div>
    <div class="m-movement-help-section">
      <div class="m-movement-help-option">
        <div>
          <img class="m-movement-dot" src="../facade/assets/images/girar-vista.svg">
        </div>
        <div>
          <b>{{title1}}</b>
          <p>{{text1}}</p>
        </div>
      </div>
      <div class="m-movement-help-option">
        <div>
          <img class="m-movement-dot" src="../facade/assets/images/inclinar-vista.svg">
        </div>
        <div>
          <b>{{title2}}</b>
          <p>{{text2}}</p>
          <p>{{text3}}</p>
        </div>
      </div>
      <div class="m-movement-help-ctrl">
        <div>
          <span class="m-movement-key">CTRL</span>
        </div>
        <p>{{text4}}</p>
      </div>
    </div>
  </div>
</div>