<div>
  <h2 style="text-align: center; color: #fff; background-color: #364b5f; padding: 8px 10px;">MOVEMENT</h2>
  <div>
    <p>{{translations.help1}}</p>
    <img src="http://localhost:8082/test/development/movement.png" style="margin: 0 auto; display: block">
    <p>{{translations.help2}}</p>
    <img src="http://localhost:8082/test/development/movement-exterior.png" style="margin: 0 auto; display: block">
    <p>{{translations.help3}}</p>
    <p>{{translations.help4}}</p>
    <img src="http://localhost:8082/test/development/movement-interior.png" style="margin: 0 auto; display: block">
    <p>{{translations.help5}}</p>
    <img src="http://localhost:8082/test/development/movement-help.png" style="margin: 0 auto; display: block; margin-bottom: 12px">
  </div>
</div>