<div class="m-control m-rotate-container" title="{{title}}">
  <div class="m-rotate-compass">
    {{#if showHelp}}<button id="m-rotate-help" class="m-rotate-help-button" title="{{title_help}}">?</button>{{/if}}
    <svg class="m-rotate-background-exterior" width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <mask id="m-rotate-hole">
          <rect width="64" height="64" fill="white"/>
          <circle cx="32" cy="32" r="20" fill="black"/>
        </mask>
      </defs>
      <circle cx="32" cy="32" r="30"  mask="url(#m-rotate-hole)"/>
    </svg>
    <div class="m-rotate-rotation-maker">
      <svg class="m-rotate-svgPath-svg" width="64" height="64" viewBox="0 0 64 64">
        <defs>
          <mask id="m-rotate-donut-mask">
            <rect width="64" height="64" fill="white"/>
            <circle cx="32" cy="32" r="20" fill="black"/>
          </mask>
        </defs>
        <path
          d="M32,32 L32,2 A30,30 0 0,1 58,16 L32,32 Z"
          mask="url(#m-rotate-donut-mask)"
        />
      </svg>
    </div>
    <div class="m-rotate-exterior-svg g-cartografia-exterior" draggable="false"></div>
    <div id="m-rotate-giroscopio" class="m-rotate-giroscopio-svg g-cartografia-giroscopio" draggable="false"></div>
  </div>
  {{#if showHelp}}
    <div class="m-rotate-help-container">
      <div class="m-rotate-help-header">
        <h3>{{title_help_container}}</h3>
        <button class="m-rotate-help-close g-cartografia-cancelar"></button>
      </div>
      <div class="m-rotate-help-section">
        <div class="m-rotate-help-option">
          <div>
            <img class="m-rotate-dot" src="../facade/assets/images/girar-vista.svg">
          </div>
          <div>
            <b>{{title1}}</b>
            <p>{{text1}}</p>
          </div>
        </div>
        <div class="m-rotate-help-option">
          <div>
            <img class="m-rotate-dot" src="../facade/assets/images/inclinar-vista.svg">
          </div>
          <div>
            <b>{{title2}}</b>
            <p>{{text2}}</p>
            <p>{{text3}}</p>
          </div>
        </div>
        <div class="m-rotate-help-ctrl">
          <div>
            <span class="m-rotate-key">CTRL</span>
          </div>
          <p>{{text4}}</p>
        </div>
        <button id="m-rotate-help-not-show-btn">
          <span class="m-rotate-help-not-show-span">{{close_not_show_help}}</span>
        </button>
      </div>
    </div>
  {{/if}}
</div>